<div id="info" >
    <div *ngFor="let info of info" [info]="info" >
        <h4>Hello {{info.name}}! Let's track your blood sugar.</h4>
        <br/>
        <div id="WandH">
            <span>Height(inches): {{info.height}}</span>
            <br/>
            <span>Weight(pounds): {{info.weight}}</span>
        </div>
        <div id="minMax">
            <span>Minimum BS Value: {{info.minBS}}</span>
            <br/>
            <span>Maximum BS Value: {{info.maxBS}}</span>
        </div>
        <br/>
        <a href="/editinfo"><button id="edit">Edit</button></a>
        <span id="bmi"> BMI:  </span>

        
        
        
        
    </div>

    
    
</div>
