<div id="info" >
    <div *ngFor="let info of info" [info]="info" >
        <h4>Welcome to {{info.name}}'s Blood Sugar Buddy!</h4>
        <br/>
        <div id="WandH">
            <span>Height: {{info.height}}</span>
            <br/>
            <span>Weight: {{info.weight}}</span>
        </div>
        <div id="minMax">
            <span>Minimum BS Value: {{info.minBS}}</span>
            <br/>
            <span>Maximum BS Value: {{info.maxBS}}</span>
        </div>
        <br/>
        <span> BMI:  </span>
        
        
        
    </div>

    
    
</div>
