<div id="addBS">
    
    <span id="textValue"> Value:  </span>
    <input type="text" [(ngModel)]="bsValue">
    <br/>
    <span id="textValue"> Label: </span>
    <select #labelSelect>
        <option value="Before Breakfast">Before Breakfast</option>
        <option value="After Breakfast">After Breakfast</option>
        <option value="Before Lunch">Before Lunch</option>
        <option value="After Lunch">After Lunch</option>
        <option value="Before Dinner">Before Dinner</option>
        <option value="After Dinner">After Dinner</option>
        <option value="Before Snack">Before Snack</option>
        <option value="Before Bed">Before Bed</option>
        <option value="Before Workout">Before Workout</option>
        <option value="After Workout">After Workout</option>
    </select>
    <br/>
    <span>Note: </span>
    <input id="notes" type="text">
    <br/>
    
    <button id="add" (click)="addRecord(labelSelect.value)">Add</button>
    <br/>
</div>
