#addBS {
    
    
    display: inline-block;
    border-color: #033d68;
    border-style: solid;
    border-width: 10px;
    margin-left: -9.5%;
    margin-top: 250px;
    border-radius: 10px;

}

#notes {
    width: 300px;
    height:100px;
    
}

#add{
    background-color: #2a71d4;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #2a71d4;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }
#add:hover{
    border:0.16em solid #000000;
}

#textvalue {
    padding-top: 20px;

}

#add {
    text-align: center;
    margin-left: 35%;
}

span {
    padding: 10px 10px 10px 10px;
}